@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;
    text-decoration: none;
}
/*Header*/
.mobile-menu{
    display:none;
}
.nav-header{
    width: 100%;
    height: 12vh;
    font-size: 2.25vh;
    color: #9767A9;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
}
.logo{
    position: relative;
    left: 5vw;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.ul-desktop{
    position: relative;
    left: 6vw;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.buscar{
    position: relative;
    left: 10vw;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
input{
    background-image: url('imagens/Layer_3.png');
    background-repeat:no-repeat;
    border: 2px solid #9767A9;
    border-radius: 50px;
    height: 5vh;
    width: 12vw;
    background-position-y: center;
    background-position-x: 8px;
}
.redes-sociais{
    width: 55%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: 1.5vw;
}
li{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2vh;
    height: fit-content;
}
li:hover{
    cursor:pointer;
    font-weight: bolder;
}
/*Main*/
main{
    width: 100%;
    height: 100%;
}
.cabeludo{
    display: flex;
    height: 85vh;
    background-size: 100%;
    background-repeat:no-repeat; 
    background-image: url('imagens/cabeludo.png')
}
.texto-1{
    font-family: 'Playfair Display', serif;
    font-size: 10vh;
    width: 25vw;
    position: relative;
    top:41vh;
    left:15vw;
    color: white;  
    font-weight: bold;
    flex-wrap: wrap;
    line-height: 100%;   
}
.texto-2{
    color: white;  
    font-size: 4.2vh;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    font-weight: lighter;
    width: 25vw;
    top:28vh;
    left:58vw;
}
.container-purple{
    background-color: #9767A9;
    width:100%;
    color:white;
    display:flex;
    justify-content: space-evenly;
    padding-top: 5vh;
    height: 50vh;
    flex-wrap: wrap;

}
.container-purple h3{
    font-family: 'Playfair Display', serif;
    font-size:7vh;   
    width: 45vw; 
}
.container-purple p{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.2vh;
    width: 45vw;  
}
.container-white{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.container-white img{
    height: 80vh;
    width: 42vw;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.numerais{
    font-family: 'Playfair Display', serif;
    font-size: 7vh;
    font-weight: 800;
    padding-right: 0.75vw; 
}
.container-white h4{
    font-family: 'Playfair Display', serif;
    font-size: 4vh;
    font-weight: bolder;
    position: relative;
    left: 1.5vw;
}
.container-white p{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vh;
    width: 27vw;
    position: relative;
    left: 1.5vw;
    top: 2.5vh;
}
.container-conteúdo-1{
    background-color:  #9767A9;
    height: 65vh;
    width: 30vw;
    color: white;
    position: relative;
    bottom: 25vh;
    left: 6.95vw;
}
.container-conteúdo-1 h4{
    font-family: 'Playfair Display', serif;
    font-size: 4vh;
    width: 20vw;
    font-weight: bolder;
    position: relative;
    left: 1.5vw; 
}
.imagem-coroa{
    position: relative;
    bottom: 10vh;
    left: 1vw;
}
.container-conteúdo-2{
    background-color:  #9767A9;
    height: 53vh;
    width: 30vw;
    color: white;
    position: relative;
    top: 15vh;
    left: 8.95vw;
}
.imagem-repórter{
    position: relative;
    top: 35vh;
    left: 3vw;
    display: flex;
}
.container-conteúdo-3{
    background-color:  #9767A9;
    height: 40vh;
    width: 30vw;
    color: white;
    position: relative;
    bottom: 35vh;
    left: 7.75vw;
}
.container-conteúdo-3 h4{
    font-family: 'Playfair Display', serif;
    font-size: 4vh;
    width: 16vw;
    font-weight: bolder;
    position: relative;
    left: 1.5vw; 
}
.imagem-homem{
    position: relative;
    bottom: 10vh;
    left: 2vw;
}
.container-conteúdo-4{
    background-color:  #9767A9;
    height: 45vh;
    width: 30vw;
    color: white;
    position: relative;
    top: 15vh;
    left: 9vw;
}
.imagem-mulher{
    position: relative;
    top: 20vh;
    left: 2.95vw;
}
.container-conteúdo-5{
    background-color:  #9767A9;
    height: 48vh;
    width: 30vw;
    color: white;
    position: relative;
    bottom: 47vh;
    left: 9vw;
}
.imagem-mãe-filha{
    position: relative;
    bottom: 23.95vh;
    left: 2.45vw;
}
.container-conteúdo-6{
    background-color:  #9767A9;
    height: 43vh;
    width: 30vw;
    color: white;
    position: relative;
    top: 15.95vh;
    left: 9.25vw;
}
.imagem-shampoo{
    position: relative;
    top: 25.95vh;
    left: 2.95vw;
}
.container-conteúdo-7{
    background-color:  #9767A9;
    height: 38vh;
    width: 30vw;
    color: white;
    position: relative;
    bottom: 41.75vh;
    right: 16.5vw;
}
.imagem-cabelo-grisalho{
    position: relative;
    bottom: 19.5vh;
    right: 22.95vw;
}
.imagem-cachinho{
    width: 30vw;
    position: relative;
    bottom: 82vh;
    left: 62vw;
}

.section-img {
    position: absolute;
    width: 90.95%;
    height: 100%;
    left: 5vw;
    top: 625vh;
}
.img-main-1{
    position: absolute;
    top: 2vh;
}
.img-main-2{
    position: absolute;
    top: 74vh;
}
.img-main-3{
    position: absolute;
    width: 15vw;
    left: 22.75vw;
    bottom: 29.25vw;
}
.img-main-4{
    position: absolute;
    width: 15vw;
    bottom: 28vh;
    left: 22.75vw;
}
.img-main-5{
    position: absolute;
    top: 36vh;
    left:0.095vw;
}
.img-main-6{
    position: absolute;
    left: 14.75vw;
    bottom: 0.01vh;
}
.img-main-7{
    position: absolute;
    top: 36vh;
    left: 14.75vw;
}
.img-main-8{
    position: absolute;
    left: 29.7vw;
    top:-36vh;
}
.img-main-9{
    position: absolute;
    bottom: 44vh;
    left: 52.65vw;
}
.img-main-10{
    position: absolute;
    top: -8vh;
    left: 52.65vw;
}
.img-1 {
    height:70vh;
    width:22vw;
}
.img-2 {
    height: 26vh;
    width:22vw;
}
.img-3{
    height: 34vh;
    width: 14vw;
}
.img-4{
    height: 26vh;
    width:14vw;
}
.img-5{
    height: 70vh;
    width: 14vw;
}
.img-6{
    height:26vh;
    width: 14vw;
}
.img-7{
    height:98vh;
    width: 22vw;
}
.img-8{
    height:26vh;
    width: 14vw;
}
.img-9{
    height: 70vh;
    width: 14vw;
}

/*Footer*/
.mobile-footer{
    display: none;
}
.footer{
    background-color: #9767A9;
    width:100%;
    height: 15vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top:70vh;
}
.p-footer{
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    color: white;
    width: 45vw;
    position: relative;
    top:4vh;
    left: 5vw;
}
.p2-footer{
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    color: white;
    width: 75vw;
    position: relative;
    top: 4vh;
    left: 5vw;
}
footer p{
    color: white;
    width: 7vw;
    display: flex;
    align-items: center;
}
footer ul{
    width: 25%;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    left: 70vw;
    bottom: 1.25vh;
}
p img {
    display: flex;
    align-items: center;
}
/*-------mobile-------*/
@media(max-width:420px){
.buscar{
    display: none;
}
input{
    display: none;
}
.ul-desktop{
    display: none;
}
.logo{
    left: 40vw;
    width: 15%;
}
.logo img{
  height: 6vh;
  width: 24vw;
}
.mobile-menu{
    display:block;
    position: relative;
    z-index: 1;
}
.nav-menu{
    background-color: #9767A9;
    width:119px;
    position:absolute;
    bottom:-34.95vh;
    left:-170px;
    transition: all 0.5s;
}
.nav-menu ul{
    position: absolute;
    top:8vh;
    width: 100%;
}
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"]:checked ~ nav{
    transform: translateX(170px);
}
a{  
    height:30px;
    display: flex;
    align-items: center;
    text-align:center;
    padding-left:20px;
    color:white;
    text-transform: capitalize;
    background-color: #9767A9;
}
a:hover{
    background-color: #AC95BB;
}
label{
    padding:0.1vw;
    position: absolute;
    z-index: 1;
}
label img{
    height: 8vh;
}
.nav-header{
    height: 8vh;
}
.cabeludo{
    background-size: 225% 75%;
    background-position: 32% 0%;
}
.texto-1{
    left:8vw;
    top:7vh;
    width: 50vw;
    font-size: 8vh;
    line-height: 125%;

}
.texto-2{
    width: 58vw;
    left:10vw;
    top:10.85vh;
    font-size: 2.8vh;  
}
.container-purple{
    margin-top: -22.4vh;
    height: 100%;
    display: block;
}
.container-purple h3{
    position:relative;
    bottom:4vh;
    left: 5vh;
    font-size: 3.5vh;
    width: 86%; 
}
.container-purple p{
    font-size: 2.5vh;
    width: 80%; 
    position: relative;
    left: 8vw;
    bottom:3.25vh;
}
.container-white img{
    width: 86vw;
    height: 55vh;
}
.container-white h4{
    width: 75%;
    position: relative;
    left: 6vh;
}
.container-white p{
    width:80%;
    position: relative;
    left: 6vh;
}
.imagem-coroa{
    position: relative;
    top:2vh;
    left:7vw;
}
.container-conteúdo-1{
    height: 75vh;
    width:100vw;
    position: relative;
    left:-0.1vw;
}
.imagem-repórter{
    position: relative;
    top:-23vh;
    left:7vw;
}
.container-conteúdo-2{
    height: 65vh;
    width:100vw;
    position: relative;
    left:-0.1vw;
    top:-35vh;
}
.imagem-homem{
    position: relative;
    bottom:33vh;
    left: 5vh;
}
.container-conteúdo-3{
    height: 45vh;
    width:100vw;
    position: relative;
    left:-0.1vw;
    top:-35vh;
}
.imagem-mulher{
    position: relative;
    top:-32.95vh;
    left: 5vh;
}
.container-conteúdo-4{
    height: 60vh;
    width:100vw;
    position: relative;
    left:-0.1vw;
    top:-35vh;
}
.imagem-mãe-filha{
    position: relative;
    top:-32.95vh;
    left: 5vh;
}
.container-conteúdo-5{
    height: 60vh;
    width:100vw;
    position: relative;
    left:-0.1vw;
    top:-35vh;
}
.imagem-shampoo{
    position: relative;
    top:-32.95vh;
    left: 5vh;
}
.container-conteúdo-6{
    height: 50vh;
    width:100vw;
    position: relative;
    left:-0.1vw;
    top:-35vh;
}
.imagem-cabelo-grisalho{
    position: relative;
    top:-32.95vh;
    left: 5vh;
}
.container-conteúdo-7{
    height: 45vh;
    width:100vw;
    position: relative;
    left:-0.1vw;
    top:-35vh;
}
.imagem-cachinho{
    width: 60vw;
    position: relative;
    bottom: 29vh;
    left: 20vw;
}
.section-img {
    width: 90.95%;
    height: 100%;
    top: 885vh;
}
.img-1 {
    height:43vh;
    width:41vw;
}
.img-2 {
    height: 32vh;
    width:92vw;
}
.img-3{
    height: 15vh;
    width: 22vw;
}
.img-4{
    height: 26vh;
    width: 46.5vw;
}
.img-5{
    height: 44vh;
    width: 43vw;
}
.img-6{
    height:14vh;
    width: 22vw;
}
.img-7{
    height:28vh;
    width: 21vw;
}
.img-8{
    height:14vh;
    width: 22vw;
}
.img-9{
    height:28vh;
    width: 21vw;
}
.img-main-1{
    position: absolute;
    top:-0.4vh;
}
.img-main-2{
    position: absolute;
    top: 45vh;
}
.img-main-3{
    position: absolute;
    width: 15vw;
    left: 44vw;
    top:-45.4vh;
}
.img-main-4{
    position: absolute;
    width: 15vw;
    top: -45.4vh;
    left: 68vw;
}
.img-main-5{
    position: absolute;
    top: 17vh;
    left:-23vw;
}
.img-main-6{
    position: absolute;
    left:-18.95vw;
    top: 80vh;
}
.img-main-7{
    position: absolute;
    top: 110vh;
    left: -66vw;
}
.img-main-8{
    position: absolute;
    top: 80.09vh;
    left:-37.5vh
}
.img-main-9{
    position: absolute;
    top: 110vh;
    left: -43vw;
}
.img-main-10{
    position: absolute;
    top: 80.09vh;
    left:-23.75vh
}
.footer{
    display: none;
}
.mobile-footer{
    display: flex;
    width: 98vw;
    height: 10vh;
    position: relative;
    top: 100vh;
}
.redes-mobile{
    position: absolute;
    top: 1vh;
    left:4vh;
    display: flex;
    width: 45vw;
    justify-content: space-evenly;
}
.navegação-mobile{
    position: absolute;
    top: 2vh;
    left:35vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 25vw;
}

.mobile-footer p{
    color: black;
    font-family: 'Montserrat', sans-serif;
}
.text{
    position: absolute;
    top:10vh;
    left:6vh;
    width: 100%;
    height: 100%;
}
.p-1{
    font-size: 2.2vh;
    width:90vw;
}
.p-2{
    font-size: 1.5vh;
    width:100%;
}
}
@media(min-height:720px) {
.buscar{
    display: none;
}
input{
    display: none;
}
.ul-desktop{
    display: none;
}
.logo{
    left: 40vw;
    width: 15%;
}
.logo img{
    height: 6vh;
    width: 24vw;
}
.mobile-menu{
    display:block;
    position: relative;
    z-index: 1;
}
.nav-menu{
    background-color: #9767A9;
    width:140px;
    position:absolute;
    bottom:-29vh;
    left:-170px;
    transition: all 0.5s;
    }
.nav-menu ul{
    position: absolute;
    top:8vh;
    width: 100%;
}
input[type="checkbox"]{
        display: none;
}
input[type="checkbox"]:checked ~ nav{
        transform: translateX(170px);
}
a{  
    height:30px;
    display: flex;
    align-items: center;
    text-align:center;
    padding-left:20px;
    color:white;
    text-transform: capitalize;
    background-color: #9767A9;
}
a:hover{
    background-color: #AC95BB;
}
label{
    padding:0.1vw;
    position: absolute;
    z-index: 1;
}
label img{
    height: 8vh;
}
.nav-header{
    height: 8vh;
}
.cabeludo{
    background-size: 225% 75%;
    background-position: 32% 0%;
}
.texto-1{
    left:8vw;
    top:9vh;
    width: 50vw;
    font-size: 7vh;
    line-height: 125%;    
}
.texto-2{
    width: 58vw;
    left:10vw;
    top:13.5vh;
    font-size: 2.6vh;  
}
.container-purple{
    margin-top: -22.4vh;
    height: 100%;
    display: block;
}
.container-purple h3{
    position:relative;
    bottom:4vh;
    left: 4vh;
    font-size: 3.5vh;
    width: 86%; 
}
.container-purple p{
    font-size: 2.5vh;
    width: 80%; 
    position: relative;
    left: 8vw;
    bottom:3.25vh;
}
.container-white img{
    width: 86vw;
    height: 55vh;
}
.container-white h4{
    width: 85%;
    position: relative;
    left: 4vh;
}
.container-white p{
    width:80%;
    position: relative;
    left: 4vh;
}
.imagem-coroa{
    position: relative;
    top:2vh;
    left:7.25vw;
}
.container-conteúdo-1{
    height: 95vh;
    width:100vw;
    position: relative;
    left:-0.1vw;
}
.imagem-repórter{
    position: relative;
    top:-23vh;
    left:7.25vw;
}
.container-conteúdo-2{
    height: 75vh;
    width:100vw;
    position: relative;
    left:-0.1vw;
    top:-35vh;
}
.imagem-homem{
    position: relative;
    bottom:33vh;
    left: 3.25vh;
}
.container-conteúdo-3{
    height: 53vh;
    width:100vw;
    position: relative;
    left:-0.1vw;
    top:-35vh;
}
.imagem-mulher{
    position: relative;
    top:-32.95vh;
    left: 3.25vh;
}
.container-conteúdo-4{
    height: 65vh;
    width:100vw;
    position: relative;
    left:-0.1vw;
    top:-35vh;
}
.imagem-mãe-filha{
    position: relative;
    top:-32.95vh;
    left: 3.25vh;
}
.container-conteúdo-5{
    height: 75vh;
    width:100vw;
    position: relative;
    left:-0.1vw;
    top:-35vh;
}
.imagem-shampoo{
    position: relative;
    top:-32.95vh;
    left: 3.25vh;
}
.container-conteúdo-6{
    height: 62vh;
    width:100vw;
    position: relative;
    left:-0.1vw;
    top:-35vh;
}
.imagem-cabelo-grisalho{
    position: relative;
    top:-32.95vh;
    left: 3.25vh;
}
.container-conteúdo-7{
    height: 50vh;
    width:100vw;
    position: relative;
    left:-0.1vw;
    top:-35vh;
}
.imagem-cachinho{
    width: 60vw;
    position: relative;
    bottom: 29vh;
    left: 20vw;
}
.section-img {
    width: 90.95%;
    height: 100%;
    top: 965vh;
}
.img-6{
    height:14vh;
    width: 23.5vw;
}
.img-7{
    height:28vh;
    width: 23vw;
}
.img-8{
    height: 14vh;
    width: 23.5vw;
}
.img-9{
    height: 28vh;
    width: 23vw;
}
.img-main-7{
    position: absolute;
    top: 110vh;
    left: -68.5vw;
}
.img-main-8{
    position: absolute;
    top: 80.09vh;
    left:-32vh
}
.img-main-9{
    position: absolute;
    top: 110vh;
    left: -43.5vw;
}
.img-main-10{
    position: absolute;
    top: 80.09vh;
    left:-20.25vh
}
    .footer{
        display: none;
    }
.mobile-footer{
    display: flex;
    width: 98vw;
    height: 10vh;
    position: relative;
    top: 100vh;
    }
.redes-mobile{
    position: absolute;
    top: 11vh;
    left:0.25vh;
}
.navegação-mobile{
    position: absolute;
    top: 12vh;
    left:31vh;
        
}
.text{
    position: absolute;
    top:8vh;
    left:2.25vh;
    width: 100%;
    height: 100%;
}
.p-2{
    font-size: 1.25vh;
    width:100%;
}
}